In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dataset = pd.read_csv("C:/Users/PMLS/Desktop/fraud detection/twitter_human_bots_dataset.csv")

In [3]:
dataset.head()

,Unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,0,2016-10-15 21:32:11,False,False,"Blame @xaiax, Inspired by @MakingInvisible, us...",4,1589,4,False,787405734442958848,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/7874121826...,best_in_dumbest,11041,False,7.870,1403,bot
1,1,2016-11-09 05:01:30,False,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,False,0.183,1379,human
2,2,2017-06-17 05:34:27,False,False,Scruffy looking nerf herder and @twitch broadc...,3307,172,594,True,875949740503859204,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1278890453...,SVGEGENT,1001,False,0.864,1159,human
3,3,2016-07-21 13:32:25,True,False,Wife.Godmother.Friend.Feline Fanatic! Assistan...,8433,517,633,True,756119643622735875,en,"Birmingham, AL",NaN,http://pbs.twimg.com/profile_images/1284884924...,TinkerVHELPK5,1324,False,0.889,1489,human
4,4,2012-01-15 16:32:35,False,False,Loan coach at @mancity & Aspiring DJ,88,753678,116,True,464781334,en,"England, United Kingdom",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9952566258...,JoleonLescott,4202,True,1.339,3138,human

In [4]:
dataset.tail()

,Unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
37433,37433,2009-08-08 13:11:15,True,False,"Role: Stock Taker. Past Roles: Nanny, Sales As...",651,139,1105,False,63963107,en,Kingston Upon Hull,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/5844684414...,butchsekab,340,False,0.084,4028,human
37434,37434,2013-01-05 21:35:37,False,False,KINGDOM LANDLORD #FreeCornBread,8839,1121486,605,True,1064042478,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9511349456...,Mathieu_Era,24970,True,8.976,2782,human
37435,37435,2013-01-14 18:05:54,True,False,Bienvenid@s al Twitter Oficial de Sergio Dalma...,399,85630,190,False,1089732602,it,En constante movimiento,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1174733822...,SDalmaoficial,6174,True,2.226,2773,human
37436,37436,2012-09-10 16:12:02,False,False,Just a good guy wrapped up in a bad system.\nA...,967,138,166,True,815529979,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1265807908...,VinceYearly,982,False,0.339,2899,human
37437,37437,2011-12-12 12:59:28,False,False,你好！中国,1092,5,39,False,434896892,zh-cn,中国,http://abs.twimg.com/images/themes/theme19/bg.gif,http://pbs.twimg.com/profile_images/1688940752...,zhemcom,1563,False,0.493,3172,bot

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37438 entries, 0 to 37437
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    37438 non-null  int64
 1   created_at                    37438 non-null  object
 2   default_profile               37438 non-null  bool
 3   default_profile_image         37438 non-null  bool
 4   description                   30181 non-null  object
 5   favourites_count              37438 non-null  int64
 6   followers_count               37438 non-null  int64
 7   friends_count                 37438 non-null  int64
 8   geo_enabled                   37438 non-null  bool
 9   id                            37438 non-null  int64
 10  lang                          29481 non-null  object
 11  location                      37434 non-null  object
 12  profile_background_image_url  32939 non-null  object
 13  profile_image_url             37437 non-null  object
 14  screen_name                   37438 non-null  object
 15  statuses_count                37438 non-null  int64
 16  verified                      37438 non-null  bool
 17  average_tweets_per_day        37438 non-null  float64
 18  account_age_days              37438 non-null  int64
 19  account_type                  37438 non-null  object
dtypes: bool(4), float64(1), int64(7), object(8)
memory usage: 4.7+ MB

In [6]:
dataset.describe()

,Unnamed: 0,favourites_count,followers_count,friends_count,id,statuses_count,average_tweets_per_day,account_age_days
count,37438.000000,37438.000000,3.743800e+04,3.743800e+04,3.743800e+04,3.743800e+04,37438.000000,37438.000000
mean,18718.500000,12302.062183,3.703098e+05,4.445925e+03,1.221536e+17,2.107339e+04,6.891668,3022.128052
std,10807.564026,33923.650237,2.470829e+06,4.954520e+04,3.004313e+17,6.732977e+04,24.580116,1013.695870
min,0.000000,0.000000,0.000000e+00,0.000000e+00,4.180000e+02,0.000000e+00,0.000000,483.000000
25%,9359.250000,362.000000,3.500000e+01,3.700000e+01,9.957306e+07,1.336250e+03,0.495000,2316.250000
50%,18718.500000,2066.000000,3.650000e+02,2.960000e+02,3.991474e+08,4.209000e+03,1.488000,3219.000000
75%,28077.750000,8879.000000,8.440250e+03,8.930000e+02,2.453826e+09,1.715375e+04,5.528000,3888.000000
max,37437.000000,885123.000000,1.216415e+08,4.343060e+06,1.120974e+18,2.771910e+06,1269.055000,5158.000000

In [7]:
dataset.shape

(37438, 20)

In [8]:
dataset.columns

Index(['Unnamed: 0', 'created_at', 'default_profile', 'default_profile_image',
       'description', 'favourites_count', 'followers_count', 'friends_count',
       'geo_enabled', 'id', 'lang', 'location', 'profile_background_image_url',
       'profile_image_url', 'screen_name', 'statuses_count', 'verified',
       'average_tweets_per_day', 'account_age_days', 'account_type'],
      dtype='object')

In [9]:
for column in dataset:
        print("Column"," ",column,"  uniquevalue are :", dataset[column].nunique())
        print(dataset[column].unique())
        print("------------------------------------------------------------------")

Column   Unnamed: 0   uniquevalue are : 37438
[    0     1     2 ... 37435 37436 37437]
------------------------------------------------------------------
Column   created_at   uniquevalue are : 37430
['2016-10-15 21:32:11' '2016-11-09 05:01:30' '2017-06-17 05:34:27' ...
 '2013-01-14 18:05:54' '2012-09-10 16:12:02' '2011-12-12 12:59:28']
------------------------------------------------------------------
Column   default_profile   uniquevalue are : 2
[False  True]
------------------------------------------------------------------
Column   default_profile_image   uniquevalue are : 2
[False  True]
------------------------------------------------------------------
Column   description   uniquevalue are : 29944
['Blame @xaiax, Inspired by @MakingInvisible, using cmu phonetic data to produce incongruous matches.\nSome images via Lorem Flickr.'
 'Photographing the American West since 1980. I specialize in location portraits & events, both indoors & outside, using natural light & portable studio lighting.'
 'Scruffy looking nerf herder and @twitch broadcaster\n\nContact 📬 svgegent@gmail.com'
 ...
 'Bienvenid@s al Twitter Oficial de Sergio Dalma. https://t.co/3lMe3L9Vd6'
 'Just a good guy wrapped up in a bad system.\nActor / Artist / Gamer / Improviser'
 '你好！中国']
------------------------------------------------------------------
Column   favourites_count   uniquevalue are : 15004
[    4   536  3307 ... 27514 17421  6365]
------------------------------------------------------------------
Column   followers_count   uniquevalue are : 13210
[   1589     860     172 ...   85561 1121486   85630]
------------------------------------------------------------------
Column   friends_count   uniquevalue are : 5301
[   4  880  594 ... 8478 5853 4203]
------------------------------------------------------------------
Column   geo_enabled   uniquevalue are : 2
[False  True]
------------------------------------------------------------------
Column   id   uniquevalue are : 37438
[787405734442958848 796216118331310080 875949740503859204 ...
         1089732602          815529979          434896892]
------------------------------------------------------------------
Column   lang   uniquevalue are : 48
['en' 'ar' nan 'so' 'it' 'es' 'fr' 'id' 'pt' 'ja' 'zh-cn' 'de' 'lt' 'ru'
 'tl' 'af' 'cy' 'tr' 'vi' 'ca' 'no' 'hu' 'sw' 'ko' 'fa' 'el' 'sl' 'et'
 'pl' 'fi' 'ro' 'nl' 'da' 'sk' 'bg' 'sv' 'mk' 'hr' 'th' 'sq' 'cs' 'ur'
 'hi' 'lv' 'he' 'zh-tw' 'ne' 'uk' 'pa']
------------------------------------------------------------------
Column   location   uniquevalue are : 12049
['unknown' 'Estados Unidos' 'Los Angeles, CA' ... 'Andheri West, Mumbai'
 'Kingston Upon Hull' 'En constante movimiento']
------------------------------------------------------------------
Column   profile_background_image_url   uniquevalue are : 20
['http://abs.twimg.com/images/themes/theme1/bg.png' nan
 'http://abs.twimg.com/images/themes/theme14/bg.gif'
 'http://abs.twimg.com/images/themes/theme18/bg.gif'
 'http://abs.twimg.com/images/themes/theme2/bg.gif'
 'http://abs.twimg.com/images/themes/theme11/bg.gif'
 'http://abs.twimg.com/images/themes/theme10/bg.gif'
 'http://abs.twimg.com/images/themes/theme9/bg.gif'
 'http://abs.twimg.com/images/themes/theme15/bg.png'
 'http://abs.twimg.com/images/themes/theme17/bg.gif'
 'http://abs.twimg.com/images/themes/theme13/bg.gif'
 'http://abs.twimg.com/images/themes/theme16/bg.gif'
 'http://abs.twimg.com/images/themes/theme4/bg.gif'
 'http://abs.twimg.com/images/themes/theme3/bg.gif'
 'http://abs.twimg.com/images/themes/theme6/bg.gif'
 'http://abs.twimg.com/images/themes/theme7/bg.gif'
 'http://abs.twimg.com/images/themes/theme5/bg.gif'
 'http://abs.twimg.com/images/themes/theme12/bg.gif'
 'http://abs.twimg.com/images/themes/theme8/bg.gif'
 'http://abs.twimg.com/images/themes/theme19/bg.gif'
 'http://abs.twimg.com/images/themes/theme20/bg.png']
------------------------------------------------------------------
Column   profile_image_url   uniquevalue are : 36880
['http://pbs.twimg.com/profile_images/787412182602428416/5WawZkPa_normal.jpg'
 'http://pbs.twimg.com/profile_images/802329632838037504/CQN6gP7k_normal.jpg'
 'http://pbs.twimg.com/profile_images/1278890453291565057/8doB1itg_normal.jpg'
 ...
 'http://pbs.twimg.com/profile_images/1174733822891614210/RvclUrg6_normal.jpg'
 'http://pbs.twimg.com/profile_images/1265807908500979714/n8w3fAPE_normal.jpg'
 'http://pbs.twimg.com/profile_images/1688940752/012_normal.jpg']
------------------------------------------------------------------
Column   screen_name   uniquevalue are : 37438
['best_in_dumbest' 'CJRubinPhoto' 'SVGEGENT' ... 'SDalmaoficial'
 'VinceYearly' 'zhemcom']
------------------------------------------------------------------
Column   statuses_count   uniquevalue are : 19189
[11041   252  1001 ... 16338 21468 24970]
------------------------------------------------------------------
Column   verified   uniquevalue are : 2
[False  True]
------------------------------------------------------------------
Column   average_tweets_per_day   uniquevalue are : 12636
[ 7.87   0.183  0.864 ...  8.274 31.334  5.388]
------------------------------------------------------------------
Column   account_age_days   uniquevalue are : 4156
[1403 1379 1159 ...  752  613  612]
------------------------------------------------------------------
Column   account_type   uniquevalue are : 2
['bot' 'human']
------------------------------------------------------------------

In [ ]:
#Visualizing relationships

In [10]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
sns.countplot(x="created_at", data=dataset)
plt.show()