<a href="https://colab.research.google.com/github/Waliya451/Fraud-Detection/blob/main/logistic_without_pckg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [114]:
credit_card_data = pd.read_csv('./creditcard.csv')

In [115]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [116]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [117]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [118]:
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [119]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [120]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [121]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [122]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [123]:
legit_sample = legit.sample(n=492)

In [124]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
235189,148289.0,0.091772,0.779165,-0.255608,-1.021262,1.150336,-0.020854,0.882100,0.021031,-0.227977,...,-0.296706,-0.701367,-0.111844,-1.389568,-0.332336,0.205256,0.242075,0.073797,3.08,0
230730,146453.0,-0.772932,-0.042427,0.191544,-2.709470,-0.602734,-0.430323,0.417717,0.400646,1.213413,...,0.425061,0.925270,0.186432,0.489306,-0.360993,-0.306788,0.026713,0.131613,148.17,0
217001,140723.0,2.257262,-1.322918,-1.002226,-1.689695,-0.983769,-0.275086,-1.111933,-0.083315,-1.605309,...,-0.108082,0.181717,0.255636,0.703676,-0.176868,-0.213127,0.007428,-0.053397,15.00,0
177886,123386.0,2.097281,0.123780,-2.058247,0.078890,0.975212,-0.012994,0.101911,-0.062716,0.211162,...,-0.367066,-0.955921,0.205910,-0.429038,-0.145451,0.209644,-0.064033,-0.048749,1.98,0
158799,111773.0,-0.306512,-0.567887,-1.348860,-1.062747,2.798669,-1.242064,1.690938,-1.048526,0.178090,...,0.262619,1.325270,0.264233,0.247502,-1.386951,-0.248756,-0.585654,-0.010885,21.38,0

In [125]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [126]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98038.451220,-0.019683,0.115906,-0.091111,-0.052669,-0.052836,-0.038582,0.008387,0.013238,0.011004,...,0.059493,-0.012371,0.020189,-0.012665,-0.016723,-0.000154,0.019397,0.009798,0.015081,89.110386
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [127]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [128]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
235189  148289.0  0.091772  0.779165 -0.255608 -1.021262  1.150336 -0.020854
230730  146453.0 -0.772932 -0.042427  0.191544 -2.709470 -0.602734 -0.430323
217001  140723.0  2.257262 -1.322918 -1.002226 -1.689695 -0.983769 -0.275086
177886  123386.0  2.097281  0.123780 -2.058247  0.078890  0.975212 -0.012994
158799  111773.0 -0.306512 -0.567887 -1.348860 -1.062747  2.798669 -1.242064
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
235189  0.882100  0.021031 -0.227977  ...  0.026592 -0.296706 -0.701367
230730  0.417717  0.400646  1.213413  ...  0.077218  0.425061  0.925270
217001 -1.111933 -0.083315 -1.605309  ... -0.373301 -0.108082  0.181717
177886  0.101911 -0.062716  0.211162  ... -0.077822 -0.367066 -0.955921
158799  1.690938 -1.048526  0.178090  ... -0.046302  0.262619  1.325270
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
235189 -0.111844 -1.389568 -0.332336  0.205256  0.242075  0.073797    3.08
230730  0.186432  0.489306 -0.360993 -0.306788  0.026713  0.131613  148.17
217001  0.255636  0.703676 -0.176868 -0.213127  0.007428 -0.053397   15.00
177886  0.205910 -0.429038 -0.145451  0.209644 -0.064033 -0.048749    1.98
158799  0.264233  0.247502 -1.386951 -0.248756 -0.585654 -0.010885   21.38
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [129]:
print(Y)

235189    0
230730    0
217001    0
177886    0
158799    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [130]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=5)

In [131]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [132]:
import numpy as np
from sklearn.metrics import classification_report

import numpy as np

class LogisticRegression:
    def __init__(self, learning_rate=0.001, n_iters=1000, clip_value=1):
        self.lr = learning_rate
        self.n_iters = n_iters
        self.weights = None
        self.bias = None
        self.clip_value = clip_value

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_iters):
            linear_model = self._linear_model(X)
            y_predicted = self._sigmoid(linear_model)

            dw = (1 / n_samples) * np.dot(X.T, (y_predicted - y))
            db = (1 / n_samples) * np.sum(y_predicted - y)

            # Gradient clipping
            dw = np.clip(dw, -self.clip_value, self.clip_value)

            self.weights -= self.lr * dw
            self.bias -= self.lr * db

    def predict(self, X):
        linear_model = self._linear_model(X)
        y_predicted = self._sigmoid(linear_model)
        y_predicted_cls = np.where(y_predicted > 0.5, 1, 0)
        return y_predicted_cls

    def _linear_model(self, X):
        return np.dot(X, self.weights) + self.bias

    def _sigmoid(self, x):
        clipped_x = np.clip(x, -self.clip_value, self.clip_value)
        return 1 / (1 + np.exp(-clipped_x))

In [133]:
# Assuming you have your data X_train, y_train, X_test, y_test ready as Pandas DataFrames
log_reg_model = LogisticRegression(learning_rate=0.01, n_iters=1000, clip_value=1)
log_reg_model.fit(X_train, Y_train)
log_reg_preds = log_reg_model.predict(X_test)

# Evaluate the model
from sklearn.metrics import classification_report
print(classification_report(Y_test, log_reg_preds))

              precision    recall  f1-score   support

           0       1.00      0.57      0.73        98
           1       0.70      1.00      0.82        99

    accuracy                           0.79       197
   macro avg       0.85      0.79      0.78       197
weighted avg       0.85      0.79      0.78       197